.about_bg {
  margin-top: 68rem;
  /* background-color: rgba(0, 10, 28, 100%); */
  background-image:
  /* linear-gradient(to bottom, rgba(0, 0, 0, 10%), rgba(5, 33, 51, 100%)), */
  url('../../public/images/Layers.svg');
  background-position: top -18rem left;
  background-repeat: no-repeat;
  background-size: 50%;
  width: 100%;
  color: white;
}
@media (max-width: 1200px) {
  .about_bg {
    margin-top: 58rem;
    background-position: top -12rem left;
    background-size: 100%;
  }
}
@media (max-width: 800px) {
  .about_bg {
    margin-top: 65rem;
  }
}

/* text animation */
.trailsText {
  position: relative;
  width: 100%;
  height: 80px;
  line-height: 80px;
  color: black;
  font-size: 6em;
  font-weight: 800;
  letter-spacing: -0.05em;
  will-change: transform, opacity;
  overflow: hidden;
}

.trailsText > div {
  padding-right: 0.05em;
  overflow: hidden;
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}