.feature_bg{
  min-height: 100vh;
  background-image: url('../../public/images/Layers2.svg');
  background-repeat: no-repeat;
  background-position: 33% 39rem;
  background-size: 38rem;
  padding: 0;
}
.activeButton {
  background-color: #fff;
  color: rgba(5, 36, 54, 1);
}