/* Line Banner */
.line_banner_container {
  position: relative;
  width: 100vw;
  overflow: hidden;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.scroll_m_container {
  overflow: hidden;
  height: 100%;
  white-space: nowrap;
  animation: scrollText 35s infinite linear;
  margin: 0;
  font-size: 0;
  justify-content: space-between;
  width: fit-content;
  padding: 3.6rem 0;
}
.scroll_m_container > span {
  display: inline-block;
}

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
