.draggableContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.draggableContainer::-webkit-scrollbar {
  display: none;
}
.draggableContainer div{
  margin-right: 1rem;
}

