/***** Slide Left *****/
.slide_left {
  animation: 3s slide-left;
}
@keyframes slide_left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

.fade-in {
  animation: fadeIn ease 3s;
}
@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
